<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pessoas</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		#content {
			width: 800px;
			margin: 0 auto;
			background-color: #D8D8D8;
			text-align: center;
		}
		table { 
			margin-right:auto; 
			margin-left:auto; 
		}
		.ar {
			text-align: right;
		}
		.al {
			text-align: left;
		}
		#content table {
			border: 1px solid #FFFFFF;
		}
	</style>
</head>
<body >
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>	
	<div id="content" ng-controller="PeopleController">
		<h1>Cadastro de Pessoas</h1>
		<table width="60%" >
			<tr>
				<td class="ar">Nome:</td>
				<td class="al"><input type="text" size="45" ng-model="peopleName"></td>
			</tr>
			<tr>
				<td class="ar">Email:</td>
				<td class="al"><input type="email" size="35" ng-model="peopleEmail"></td>
			</tr>
			<tr>
				<td colspan="2" class="al">
					<button type="button" ng-click="addPeople()">Criar</button>
				</td>
			</tr>
		</table>
		<br />

		<table width="60%" >
			<tr >
				<td >Nome</td>
				<td >Email</td>
			</tr>
			<tr ng-repeat="people in allPeople">
				<td >{{ people.name }}</td>
				<td >{{ people.mail }}</td>
			</tr>
		</table>
		<br />
	</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
<script type="text/javascript">
<!--

function PeopleController($scope) {

	$scope.allPeople = [
		{"name": "Jose Daniel", "mail": "saraiva@7comm.com.br" },
		{"name": "Daniel Saraiva", "mail": "jd.saraiva@gmail.com" }
	];

	$scope.addPeople = function() {
		$scope.allPeople.push( {"name":$scope.peopleName, "mail":$scope.peopleEmail} );
    	$scope.peopleName = '';
    	$scope.peopleEmail = '';
	};

}

//-->
</script>
</body>
</html>